node-red flow goodwe read and send to mobile without credentials.txt
[{"id":"7a359b6d.42fd94","type":"debug","z":"e6361503.61f598","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":260,"wires":[]},{"id":"9e3da017.5bf23","type":"http request","z":"e6361503.61f598","name":"Request token","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":340,"y":260,"wires":[["7a359b6d.42fd94","f8dbfc5b.fdbe5"]]},{"id":"4e7ba555.995c6c","type":"function","z":"e6361503.61f598","name":"Get ID token from login","func":"// Credentials as used for login to the Semsportal at https://www.semsportal.com/\naccount = \"\";\npwd = \"\";\n\n// ---------- no changes needed below ----------------------------\nloginPayload = { 'account': account, 'pwd': pwd };\n\n// It's a given, likely from the API documentation?\ntoken = '{\"client\": \"ios\", \"version\": \"v2.1.0\", \"language\": \"en\"}';\n\nglobal_url = 'https://eu.semsportal.com/api/';\nheaders = { 'token': token };\n\nmsg.url = global_url + \"v1/Common/CrossLogin\";\nmsg.headers = headers;\nmsg.payload = loginPayload;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":200,"wires":[["9e3da017.5bf23"]]},{"id":"9b5b7e96.9ecc4","type":"inject","z":"e6361503.61f598","name":"","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":140,"wires":[["4e7ba555.995c6c"]]},{"id":"f8dbfc5b.fdbe5","type":"function","z":"e6361503.61f598","name":"Get station output","func":"// Power station ID can be found in the last part of the URL of the SEMSportlal, once logged in\npsid = '';\n\n\n// -------------- Generic below ---------------------------------\n\n// https://github.com/DiedB/Homey-SolarPanels/issues/28\n\n// Get the relevant response from the login call: \nvar uid = msg.payload.data.uid; // User ID\nvar id_token = msg.payload.data.token; // Time-bound token from login\nvar timestamp = msg.payload.data.timestamp;\n\n// Warning: The API uses 'token'  with different meanings throughout the communication\ntoken = '{\"uid\": \"'+ uid + '\", \"timestamp\": '+ timestamp+ ', \"token\": \"'+ id_token + '\", \"client\": \"ios\", \"version\": \"v2.0.4\", \"language\": \"en\"}';\nheaders = { 'User-Agent': 'JH', 'Token': token }\n\nglobal_url = 'https://eu.semsportal.com/api/'\nmsg.url = global_url + \"v1/PowerStation/GetMonitorDetailByPowerstationId\";\n\nmsg.headers = headers;\n\npayload = {'powerStationId': psid};\nmsg.payload = payload;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":320,"wires":[["79d3435e.97c2ac"]]},{"id":"2e001e9b.d35b32","type":"debug","z":"e6361503.61f598","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":440,"wires":[]},{"id":"79d3435e.97c2ac","type":"http request","z":"e6361503.61f598","name":"Request station","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":480,"y":380,"wires":[["88bd35bf.53c9d8","968d7cd0.3057f","e5fca822.5122b8","44edd7ed.878958","e2f704ff.44ad68","77f88d0e.f31ce4","953e1f4d.ceb77"]]},{"id":"88bd35bf.53c9d8","type":"function","z":"e6361503.61f598","name":"Get values","func":"// Get values as shown in the webportal:\n\n// Stationname, top left as displayed in the dropdown (not sure how more stations handle....?)\nvar station_name = msg.payload.data.info.stationname;\n\n// Fysical address\nvar address = msg.payload.data.info.address;\n\n\n// Total energy als shown on the webportal left below today's production\nvar total_energy = msg.payload.data.kpi.total_power;\n\n// Today's  energy als in the circle middle down the webportal main page\nvar day_energy = msg.payload.data.kpi.power;\n\n// Today's  instant power load as in the graph marked Load in purple\nvar instant_power_load = msg.payload.data.powerflow.load;\n\n// Today's  instant photovoltaic production as in the graph marked PV in blue\nvar instant_power_solar_production = msg.payload.data.powerflow.pv;\n\n// Today's  instant power grid injection as in the graph marked Meter in orange\nvar instant_power_meter_grid = msg.payload.data.powerflow.grid;\n\nmsg = {};\n\nmsg.payload = {'station_name': station_name, \n'address': address, \n'total_energy': total_energy, \n'day_energy': day_energy, \n'instant_power_load':instant_power_load,\n'instant_power_solar':instant_power_solar_production,\n'instant_power_meter_grid':instant_power_meter_grid\n \n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":440,"wires":[["2e001e9b.d35b32"]]},{"id":"968d7cd0.3057f","type":"debug","z":"e6361503.61f598","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":380,"wires":[]},{"id":"575490ec.6b16a","type":"function","z":"e6361503.61f598","name":"data in JSON pairs","func":"// Total energy als shown on the webportal left below today's production\nvar total_energy = flow.get('total_energy');\n\n// Today's  energy als in the circle middle down the webportal main page\nvar day_energy = flow.get('day_energy');\n\n// Today's  instant power load as in the graph marked Load in purple\nvar instant_power_load = flow.get('instant_power_load');\n\n// Today's  instant photovoltaic production as in the graph marked PV in blue\nvar instant_power_solar_production = flow.get('instant_power_solar');\n\n// Today's  instant power grid injection as in the graph marked Meter in orange\nvar instant_power_meter_grid = flow.get('instant_power_grid');\n\n//etc...\nreturn {payload:{total_energy:total_energy,\nday_energy:day_energy,\ninstant_power_load:instant_power_load,\ninstant_power_solar_production:instant_power_solar_production,\ninstant_power_meter_grid:instant_power_meter_grid\n}}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":860,"wires":[["7529d342.ac2f1c","a86ea193.b0838"]]},{"id":"7529d342.ac2f1c","type":"debug","z":"e6361503.61f598","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1050,"y":820,"wires":[]},{"id":"e5fca822.5122b8","type":"function","z":"e6361503.61f598","name":"instant_power_load","func":"msg.payload=msg.payload.data.powerflow.load;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":170,"y":520,"wires":[["ace783fd.ddd6c"]]},{"id":"5920e979.e57a88","type":"debug","z":"e6361503.61f598","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1050,"y":520,"wires":[]},{"id":"ace783fd.ddd6c","type":"change","z":"e6361503.61f598","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$substringBefore(payload,'(')\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":520,"wires":[["a9285fb2.bfeae"]]},{"id":"44edd7ed.878958","type":"function","z":"e6361503.61f598","name":"instant_power_solar","func":"msg.payload=msg.payload.data.powerflow.pv;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":160,"y":580,"wires":[["7d9ab49a.ae887c"]]},{"id":"72797115.0ef66","type":"debug","z":"e6361503.61f598","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":580,"wires":[]},{"id":"7d9ab49a.ae887c","type":"change","z":"e6361503.61f598","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$substringBefore(payload,'(')\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":580,"wires":[["49ab3eb6.6de1e"]]},{"id":"e2f704ff.44ad68","type":"function","z":"e6361503.61f598","name":"instant_power_grid","func":"msg.payload=msg.payload.data.powerflow.grid;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":150,"y":640,"wires":[["79870467.3c920c"]]},{"id":"a82b2954.9bd558","type":"debug","z":"e6361503.61f598","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":640,"wires":[]},{"id":"79870467.3c920c","type":"change","z":"e6361503.61f598","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$substringBefore(payload,'(')\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":640,"wires":[["7e9a472.7c100b8"]]},{"id":"a9285fb2.bfeae","type":"change","z":"e6361503.61f598","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":520,"wires":[["8d64a6ef.d0b438"]]},{"id":"49ab3eb6.6de1e","type":"change","z":"e6361503.61f598","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":580,"wires":[["9bc23dae.e31bc"]]},{"id":"7e9a472.7c100b8","type":"change","z":"e6361503.61f598","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":640,"wires":[["ca8c58f4.903e38"]]},{"id":"8d64a6ef.d0b438","type":"change","z":"e6361503.61f598","name":"","rules":[{"t":"set","p":"instant_power_load","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":520,"wires":[["5920e979.e57a88"]]},{"id":"9bc23dae.e31bc","type":"change","z":"e6361503.61f598","name":"","rules":[{"t":"set","p":"instant_power_solar","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":580,"wires":[["72797115.0ef66"]]},{"id":"ca8c58f4.903e38","type":"change","z":"e6361503.61f598","name":"","rules":[{"t":"set","p":"instant_power_grid","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":640,"wires":[["a82b2954.9bd558","54f3c76c.d1ffd8"]]},{"id":"77f88d0e.f31ce4","type":"function","z":"e6361503.61f598","name":"total_energy","func":"msg.payload=msg.payload.data.kpi.total_power;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":130,"y":700,"wires":[["9fd3bd21.1109e"]]},{"id":"9fd3bd21.1109e","type":"change","z":"e6361503.61f598","name":"","rules":[{"t":"set","p":"total_energy","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":700,"wires":[[]]},{"id":"953e1f4d.ceb77","type":"function","z":"e6361503.61f598","name":"day_energy","func":"msg.payload=msg.payload.data.kpi.power;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":130,"y":760,"wires":[["7f58313f.538e4"]]},{"id":"7f58313f.538e4","type":"change","z":"e6361503.61f598","name":"","rules":[{"t":"set","p":"day_energy","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":760,"wires":[[]]},{"id":"54f3c76c.d1ffd8","type":"delay","z":"e6361503.61f598","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":860,"wires":[["575490ec.6b16a"]]},{"id":"a86ea193.b0838","type":"influxdb out","z":"e6361503.61f598","influxdb":"85314051.8f01f","name":"","measurement":"goodwe_lescala","precision":"","retentionPolicy":"","database":"","retentionPolicyV18Flux":"","org":"","bucket":"","x":940,"y":880,"wires":[]},{"id":"cab68918.d96ed8","type":"inject","z":"e6361503.61f598","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":200,"wires":[["4e7ba555.995c6c"]]},{"id":"78f31fa7.d2f71","type":"inject","z":"e6361503.61f598","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":940,"wires":[["96658367.89355"]]},{"id":"b0c30b18.26e148","type":"inject","z":"e6361503.61f598","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1000,"wires":[["aaa8d838.0dea38"]]},{"id":"ed3080df.0509a","type":"inject","z":"e6361503.61f598","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1060,"wires":[["773cdbb1.477f64"]]},{"id":"3cb661c6.dbfbae","type":"inject","z":"e6361503.61f598","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1120,"wires":[["256f1fc5.3ccae"]]},{"id":"7d46e9f4.24b618","type":"inject","z":"e6361503.61f598","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1180,"wires":[["c52a9618.855208"]]},{"id":"c26e020e.4f0d","type":"mqtt out","z":"e6361503.61f598","name":"","topic":"goodwe_potencia_solar","qos":"","retain":"","broker":"b2447b43.585e98","x":570,"y":940,"wires":[]},{"id":"96658367.89355","type":"function","z":"e6361503.61f598","name":"","func":"msg.payload = flow.get('instant_power_solar');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":940,"wires":[["c26e020e.4f0d"]]},{"id":"20519509.749c4a","type":"mqtt out","z":"e6361503.61f598","name":"","topic":"goodwe_potencia_carga","qos":"","retain":"","broker":"b2447b43.585e98","x":570,"y":1000,"wires":[]},{"id":"aaa8d838.0dea38","type":"function","z":"e6361503.61f598","name":"","func":"msg.payload = flow.get('instant_power_load');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":1000,"wires":[["20519509.749c4a"]]},{"id":"bd26e1f8.6246f","type":"mqtt out","z":"e6361503.61f598","name":"","topic":"goodwe_potencia_red","qos":"","retain":"","broker":"b2447b43.585e98","x":560,"y":1060,"wires":[]},{"id":"773cdbb1.477f64","type":"function","z":"e6361503.61f598","name":"","func":"msg.payload = flow.get('instant_power_grid');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":1060,"wires":[["bd26e1f8.6246f"]]},{"id":"b062baf5.416898","type":"mqtt out","z":"e6361503.61f598","name":"","topic":"goodwe_energia_total","qos":"","retain":"","broker":"b2447b43.585e98","x":560,"y":1120,"wires":[]},{"id":"256f1fc5.3ccae","type":"function","z":"e6361503.61f598","name":"","func":"msg.payload = flow.get('total_energy');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":1120,"wires":[["b062baf5.416898"]]},{"id":"cfe4d7d8.f1a118","type":"mqtt out","z":"e6361503.61f598","name":"","topic":"goodwe_energia_dia","qos":"","retain":"","broker":"b2447b43.585e98","x":560,"y":1180,"wires":[]},{"id":"c52a9618.855208","type":"function","z":"e6361503.61f598","name":"","func":"msg.payload = flow.get('day_energy');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":1180,"wires":[["cfe4d7d8.f1a118"]]},{"id":"85314051.8f01f","type":"influxdb","z":"e6361503.61f598","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"GOODWE_LESCALA","name":"","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"b2447b43.585e98","type":"mqtt-broker","z":"e6361503.61f598","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]